[2022-03-08 14:16] lewtun opened #18 "Update "Open in Colab" tip to reflect AWS button"
![Screen Shot 2022-03-08 at 15 16 19](https://user-images.githubusercontent.com/26859204/157255532-82a3eaed-272f-41ff-87cc-e37056e2158a.png)

[2022-03-08 14:17] lewtun opened #19 "Update Part III summary"
![Screen Shot 2022-03-08 at 15 17 00](https://user-images.githubusercontent.com/26859204/157255650-a3f000f7-882a-4e75-8c93-f9a84f9e48f3.png)

[2022-03-08 14:17] lewtun opened #20 "Add book reference"
![Screen Shot 2022-03-08 at 15 17 34](https://user-images.githubusercontent.com/26859204/157255746-7bf7257a-886a-45ea-b8f1-8cf9c08c642f.png)

[2022-03-08 14:37] lewtun opened #21 "Replace Inference API widgets with Gradio ones"
In Chapter 7 we have examples of the Inference API widgets embedded in the sections:

![Screen Shot 2022-03-08 at 15 36 41](https://user-images.githubusercontent.com/26859204/157259489-f41413e4-0700-44d6-8692-8d5b900444ca.png)

It would be cool to use Gradio demos here as a precursor to Chapter 9

cc @abidlabs @dawoodkhan82 @osanseviero

[2022-03-16 20:13] lewtun opened #23 "Add Gradio team to list of authors in Chapter 1"

[2022-03-18 18:41] lewtun opened #25 "Rename `master` branch to `main` before going live"

[2022-03-21 13:55] #19 closed, assigned to nobody

[2022-03-22 13:53] #21 closed, assigned to nobody

[2022-03-28 07:44] #25 closed, assigned to nobody

[2022-03-28 14:51] lewtun opened #38 "Translate to Spanish"
Hi there 👋

Let's translate the course to Spanish so that the whole community can benefit from this resource 🌎!

Below are the files and chapters that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-29 12:43] lewtun opened #41 "Translate to Turkish"
Hi there 👋

Let's translate the course to Turkish so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-29 12:44] lewtun opened #42 "Translate to Korean"
Hi there 👋

Let's translate the course to Korean so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number o

[2022-03-29 12:44] lewtun opened #43 "Translate to German"
Hi there 👋

Let's translate the course to German so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number o

[2022-03-29 12:44] lewtun opened #44 "Translate to French"
Hi there 👋

Let's translate the course to French so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number o

[2022-03-29 12:45] lewtun opened #45 "Translate to Italian"
Hi there 👋

Let's translate the course to Italian so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-29 14:33] kirby123-cmd opened #46 "Translate to Tamil"
Hi there 👋

Let's translate the course to `Tamil` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-29 14:35] iibrahimli opened #47 "Translation to Azerbaijani"
Hi there 👋

Let's translate the course to `Azerbaijani` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the n

[2022-03-29 14:52] akkasayaz commented on #41
Hi, I want to start translating from the "setup" chapter.

[2022-03-29 15:00] lewtun commented on #41
Hi @akkasayaz thank you for your offer to help! I've added your name to the list :)

[2022-03-29 15:05] omer-dor opened #48 "Translation to Hebrew"
Hi there 👋

Let's translate the course to `Hebrew` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-29 15:08] omer-dor commented on #48
@lewtun I am going to start with 0 - Setup and continue from there.

[2022-03-29 15:32] abdouaziz commented on #44
I take the setup for French .

[2022-03-29 15:33] CaterinaBi commented on #45
Hello Lewis, I'd love to contribute! I'm a postdoctoral researcher in theoretical linguistics at the University of Cambridge, UK. Italian is my native language. I'd love to traslate modules 1 and 2 for a start. The only thing that scares me a bit is that I'm new to GitHub, so I might end up needing some help...

[2022-03-29 15:37] lewtun commented on #45
Hey @CaterinaBi thank you - we'd love to have your help with the translation! Feel free to create a post and tag me with @lewtun on our forums (https://discuss.huggingface.co/c/course/20) if you need some help on the GitHub side 🤗

[2022-03-29 15:43] CaterinaBi commented on #45
Hey @lewtun, amazing! I'll start straight away. I'll translate the 'Transformer models' and 'Using HF Transformers' then. Do you want me to take care of the Setup instructions, too?

[2022-03-29 15:51] jowharshamshiri opened #49 "Persian Translation"
Translate Huggingface course into Persian

[2022-03-29 15:54] #49 closed

[2022-03-29 15:56] jowharshamshiri opened #50 "Translation to Persian"
Hi there 👋

Let's translate the course to Persian so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-29 15:57] lewtun commented on #45
Awesome! Sorry I tagged you for the Setup section by accident 😬 . On the other hand, that might be an easy way to get familiar with GitHub and pull requests, so maybe you'd like to start there?

[2022-03-29 16:15] omarespejel opened #51 "Translation to Portuguese"
Hi there 👋

Let's translate the course to Portuguese so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the numb

[2022-03-29 16:16] CaterinaBi commented on #45
Yes, I'll start from there and tag you in the forum if I get lost (get ready to hear from me soon!).

[2022-03-29 16:29] avvorstenbosch opened #52 "Translation to Dutch"
Hi there 👋

Let's translate the course to Dutch so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number of

[2022-03-29 16:31] giyaseddin opened #53 "Translate to Arabic"
Hi there 👋

Let's translate the course to `Arabic` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-29 16:33] sharkovsky commented on #45
Hi @lewtun, I'd also like to contribute. I have a PhD in computational neuroscience from École Polytechnique Fédérale de Lausanne. Italian is my native language as well.
How about I start with module 3, and see how it goes? Is that acceptable?

@lewtun, @CaterinaBi, should we think of a way to "standardize" our translations (a shared glossary/vocabulary or something similar)? To make sure we all t

[2022-03-29 17:09] victorescosta commented on #51
Hello, I really want to participate in this project. Full BR here :)

[2022-03-29 17:12] thisistz opened #55 "Translate to Traditional Chinese (zh-TW)"
Hi there 👋

Let's translate the course to Traditional Chinese so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is

[2022-03-29 17:20] ChainYo commented on #44
Hey I'm taking the whole chapter 1 @lewtun

[2022-03-29 17:53] camartinezbu commented on #38
Hi! I would like to translate Chapter 1.

[2022-03-29 18:38] ClonedOne commented on #45
Hi! I would also be happy to help. I'm a phd student at Northeastern University and Italian is my native language.
I can take chapter 4 if no one is working on that.

[2022-03-29 18:44] omarespejel commented on #51
That would be great @victorescosta ! Thank you 🇧🇷 !

[2022-03-29 19:55] johnnv1 commented on #51
Hi, I'd like to start working on the second chapter

[2022-03-29 19:58] omarespejel commented on #51
Hi @johnnv1! Thanks! That would be great 😄

[2022-03-29 20:13] schoobani commented on #50
@jowharshamshiri **per**, **fas** and **fa** can be language codes for persian. I suggest using **fa**.

[2022-03-29 20:46] schoobani commented on #50
I am also delighted to contribute.

I forked and added the fa directory and the `_toctree.yml` file. you can track my updates in here:
https://github.com/schoobani/course/tree/main/chapters/fa

[2022-03-29 20:48] jowharshamshiri commented on #50
Awesome, thanks!

On Wed, Mar 30, 2022 at 1:17 AM Saeed Choobani ***@***.***>
wrote:

[2022-03-29 22:23] KonnorDev commented on #38
Interesante...

[2022-03-29 22:31] dataubc commented on #53
I 'd like to help with that.

[2022-03-29 22:57] ftarlaci commented on #41
happy to contribute by translating 2.mdx in 1 - Transformer Models

[2022-03-29 23:29] GabrielMissael commented on #38
Hello @lewtun ✨
I want to help by translating **Chapter 2** (Using 🤗 transformers), Sections **1, 2, and 3**.

[2022-03-30 01:28] haneybarg commented on #51
Hi! I'd like to start on the third chapter. Brazilian Portuguese here :)

[2022-03-30 02:04] lgesuellip commented on #38
Hello @lewtun,

I would like to translate the **Chapter 3 (Fine-tuning a pretrained model)** :open_book: :guitar:

Thanks,

[2022-03-30 03:22] seopbo commented on #42
@lewtun How can I add my name to list of translators?

[2022-03-30 03:26] panda-sai opened #58 "Translate to Telugu"
Hi there 👋

Let's translate the course to `TELUGU` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-30 03:27] panda-sai opened #59 "Translate to Hindi"
Hi there 👋

Let's translate the course to `HINDI` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-30 03:28] panda-sai opened #60 "Translate to Malayalam"
Hi there 👋

Let's translate the course to `MALAYALAM` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the num

[2022-03-30 03:28] panda-sai opened #61 "Translate to Kannada"
Hi there 👋

Let's translate the course to `KANNADA` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the numbe

[2022-03-30 03:32] HishamKhdair commented on #53
I am happy to help 👍

[2022-03-30 03:57] omarespejel commented on #51
Olá @haneybarg. That would be great thanks!

[2022-03-30 04:03] bzantium commented on #42
@lewtun I am also interested in the project!

[2022-03-30 05:14] munozariasjm commented on #38
Hi 👋, I would like to work on the chapter 2, episodes 4 and 5.

If possible, I would also work on any of the chapter 3.

Regards!

[2022-03-30 06:39] omer-dor commented on #48
Yes, sounds like a good idea.

[2022-03-30 07:08] lewtun commented on #53
Hey @dataubc @HishamKhdair thank you so much for offering to help! Which chapters / sections would you like to tackle first?

[2022-03-30 07:12] lewtun commented on #50
Hi @schoobani and @jowharshamshiri thank you so much for this initiative and for offering to help! I've added your name @schoobani to the Chapter 1 list. In case it's easier, you don't have to translate the whole chapter in one go - feel free to just add the sections as you work through them!

[2022-03-30 07:14] lewtun commented on #48
Hi @omer-dor @beneyal I've now added your names to the chapter list :)

[2022-03-30 07:17] lewtun commented on #45
Hi @ClonedOne thank you for offering to help! I've added your name to Chapter 4 🚀 !

[2022-03-30 07:21] lewtun commented on #42
Hey @seopbo @bzantium thank you for the offer to help 🤗 ! Just let me know which sections you'd like to translate and I'll add your name to the list :)

[2022-03-30 07:25] lewtun commented on #41
Hi @mertbozkir and @ftarlaci thank you for helping out! I've added both your names to the list 🤗

[2022-03-30 07:30] lewtun commented on #38
Hey @camartinezbu @GabrielMissael @lgesuellip @munozariasjm thank you all for your offer to help! I've added your names to the list 🤗

Looking forward to seeing your PRs!

[2022-03-30 08:18] giyaseddin commented on #53
I'll start with the `setup` section

[2022-03-30 10:06] peeraponw opened #64 "Translate to Thai"
Hi there 👋

Let's translate the course to `Thai` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number o

[2022-03-30 10:57] a-krirk commented on #64
I would like to help translating chapter 3

[2022-03-30 11:02] cstorm125 commented on #64
We'll refactor [thai2transformers](https://github.com/vistec-AI/thai2transformers/) and get back to you within the next month or so.

wav2vec2 tutorial for Thai
https://github.com/vistec-AI/wav2vec2-large-xlsr-53-th/blob/main/notebooks/wav2vec2_finetuning_tutorial.ipynb

Extractive QA
https://github.com/vistec-AI/thai2transformers/blob/dev/notebooks/train_question_answering_lm_finetuning.ipynb

[2022-03-30 11:05] Nolanogenn commented on #45
Hi! I would like to help. I am a PhD student at University of Napoli "L'Orientale", and Italian is my native language. I could work on Chapter 5 if nobody's working on it!

[2022-03-30 11:58] lherrera-redislabs commented on #38
Hi, I would like to translate Chapter 7 ( Main NLP tasks)

[2022-03-30 11:59] lherrera commented on #38
Hi, I would like to translate Chapter 7 ( Main NLP tasks) if nobody working on it

[2022-03-30 12:23] pattanunNP commented on #64
I would like to translating chapter 5

[2022-03-30 12:54] lewtun commented on #64
Hey @a-krirk and @pattanunNP, thank you very much for your offer to help with the translation! I've added your names to the list :)

@cstorm125 we're currently focusing on doing direct translations of the English course content to Thai. If you'd like to contribute new content on training models in Thai, I suggest opening an issue in `transformers` to see whether our official tutorials could benefi

[2022-03-30 13:02] lewtun commented on #45
Thank you @Nolanogenn for offering to help! I've added your name to the list 🙏

[2022-03-30 15:39] sharkovsky commented on #45
@lewtun, @CaterinaBi, @ClonedOne, @Nolanogenn maybe we can come up with a strategy for how to translate common words, for example "machine learning". Here are some options:

1. always leave it in english
2. always translate it in italian (in this case, the official translation is [apprendimento automatico](https://it.wikipedia.org/wiki/Apprendimento_automatico)
3. always translate it in italian, b

[2022-03-30 15:43] lewtun commented on #45
Thanks for the insight and suggestions into how we can handle the machine learning jargon @sharkovsky ! I really like the analogy with Wikipedia, so would also favour option (3) too. I'm putting together a general `TRANSLATING.md` guide, so will add this suggestion if the other Italian speakers agree it makes sense :)

[2022-03-30 16:34] sharkovsky commented on #45
@CaterinaBi, @ClonedOne, @Nolanogenn you can find my first attempt at a translation of one file [in my fork](https://github.com/sharkovsky/course/blob/main/chapters/it/chapter3/1.mdx). I'm happy to receive some feedback if you think some things can be improved/better expressed... I'd rather discuss as much as possible now that we're still in a preliminary phase 😄

In a provisional manner, I also c

[2022-03-30 17:11] davidemastricci commented on #45
Hi @lewtun, I'm A Data Scientist and a Chatbot Developer and I'd like to help with chapter 6.
I'm attending 🤗HF course and was about to start that chapter, it would be great to translate it while learning.

Italian is my main language!

[2022-03-30 17:26] davidemastricci commented on #45
@sharkovsky  Since there is a little barrier approaching Hugging Face library, meaning that you should be familiar with terms like Machine Learning and Deep Learning, adding translation that sounds weird in Italian (ex. "apprendimento automatico" or "apprendimento profondo") could make reading less fluent.

[2022-03-30 17:50] pandyaved98 commented on #59
I'd like to collaborate here.

/assign
Setup
1.mdx

[2022-03-30 18:53] lewtun commented on #59
Thank you @pandyaved98 🙏 ! I've added your name to the list :)

[2022-03-30 22:02] jowharshamshiri commented on #50
@schoobani I propose we use this Persian style guide to ensure uniform style across all of our work. Looks intimidating but has has a lot of whitespace and is the best I could find. You don't need to read it, just refer to it for common Persian writing guidelines like prefixes and suffixes and spacing and such.
https://apll.ir/wp-content/uploads/2018/10/D-1394.pdf

[2022-03-30 23:32] jowharshamshiri commented on #50
@schoobani I propose that in Persian text we replace the use of the Huggingface emoji with the transliteration of the word 'Huggingface' in Persian(هاگینگ‌فیس). What do you think? Emoji's don't lend themselves easily to Persian text. @lewtun I don't know if that is against Huggingface policy, love to hear your thoughts on this.

[2022-03-31 01:50] jowharshamshiri commented on #50
@lewtun I added my own name to the Chapter 2 list.

[2022-03-31 01:54] Doohae commented on #42
@lewtun I also want to participate in this project! 🤗

[2022-03-31 02:43] 1375626371 commented on #45
Hello, we are college students studying natural language processing, last month we started the translation of huggingface's course. There was no translation project at the time, so we scraped web pages using crawler, translated them using machine translation, and did the first proofreading by hand. Next, we will carry out the second proofreading and establish a comparison table of professional voc

[2022-03-31 02:44] 1375626371 commented on #55
Hello, we are college students studying natural language processing, last month we started the translation of huggingface's course. There was no translation project at the time, so we scraped web pages using crawler, translated them using machine translation, and did the first proofreading by hand. Next, we will carry out the second proofreading and establish a comparison table of professional voc

[2022-03-31 04:11] eNipu opened #72 "Translation to Bengali"
Hi there 👋

Let's translate the course to Bengali so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-31 04:59] davidpeng86 commented on #55
Absolutely. Post the chapters you'd like to work on so we don't end up overlapping on chapters. I just started and am halfway through the setup so there is much to work on.

[2022-03-31 06:40] jomariya23156 commented on #64
I'm interested in translating Chapter 4 :)

[2022-03-31 07:33] MarcusFra commented on #43
If it's not too urgent, I would translate chapters 0 and 1 for a start. Do you have any timeline in mind?

[2022-03-31 10:21] rainmaker712 commented on #42
@lewtun I will join the translate too.

[2022-03-31 10:37] pdumin opened #75 "Translation to Russian"
Hi there 👋

Let's translate the course to Russian so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-03-31 13:08] lewtun commented on #41
Hello, we have a nice PR here for Chapter 0: https://github.com/huggingface/course/pull/54

Unfortunately, I don't speak Turkish, so would someone here be willing to have a quick look?

[2022-03-31 13:12] lewtun commented on #44
Hello, the first French translation PR is ready here: https://github.com/huggingface/course/pull/57

Unfortunately, I don't speak French, so would any French speakers here be happy to have a quick look?

[2022-03-31 13:22] lewtun commented on #64
Hello, we have two PRs now ready for Thai!

* https://github.com/huggingface/course/pull/70
* https://github.com/huggingface/course/pull/73

Unfortunately, I don't speak Thai so would someone here be willing to have a quick look at the translations?

[2022-03-31 13:53] lewtun commented on #55
Wow @1375626371 amazing to hear that you already started working on a translation 🤯 ! As @davidpeng86 says, you're more than welcome to contribute - just indicate here which chapters you'd like to start with and we can add your name to the list. Thank you!

[2022-03-31 13:55] lewtun commented on #64
Hey @jomariya23156 thank you for offering to help! I've added your name to the list :)

[2022-03-31 14:09] lewtun commented on #51
Hey @johnnv1 you're welcome to open a PR for a single section if you wish to iterate that way. Otherwise, feel free to open a PR with a whole chapter :)

[2022-03-31 14:57] lewtun commented on #45
Thanks for this great discussion @sharkovsky - it definitely exposes some subtleties with translation projects :)

For the glossary, I suppose the simplest thing right now would be to share a Google / Notion doc that others can make suggestions to. Notion is probably easier since it supports Markdown and will make it simple to copy back to this repo.

As for how we distribute the glossary, I see t

[2022-03-31 15:39] pdumin commented on #75
I will translate chapters 1 and 2.

[2022-03-31 15:49] victorescosta commented on #51
Hi there, just updating: I already finished Chapter 00 and made a PR for this. You guys can review it (maybe it's a good practice we can do) but I think that is ok. I can review it later also. Anyway, I'll start Chapter 01.

[2022-03-31 16:10] 1375626371 commented on #55
It's great that we can contribute to the open source community while learning. in the next week. We will convert Chapters1 while trying to build our translation process. @petrichor1122@zhlhyx are two of my great teammates who will give their respective translation plans for the coming week.
I plan on translating sections 5, 6, 8, 10 in chapter 1 for the next week

[2022-03-31 16:25] LincolnVS commented on #51
Hi, I'd like to start working on the 7th chapter (Main NLP tasks).

Also, I think a pt-BR and a pt-PT translation should be created. There is a significant difference in some words that can change the context.

[2022-03-31 16:31] omarespejel commented on #51
Oi @LincolnVS! Great, will register the 7th chapter to your name 🤗 Thanks!

Regarding the different Portuguese, I believe we can continue safely with the translation. Currently, all the contributors in this translation are employing pt-BR.

However, what key words do you believe would significantly change? This is something to take into account in case there are pt-PT contributors.

Thank you!

[2022-03-31 16:54] LincolnVS commented on #51
@omarespejel I was thinking more of non-literal translations such as "[...] try the code yourself." translated to "[...] por a mão no código." (line 3 of commit [9ba2b6b](https://github.com/huggingface/course/pull/78/commits/9ba2b6b30f288177ec3ff5c43f80db41c7ed1257)). In pt-BR this translation is widely used. Still, I don't know if it applies to pt-PT. But, as you said, for now we are all using pt

[2022-03-31 17:01] omarespejel commented on #51
I see @LincolnVS! Thank you for the explanation. I believe they would not be that problematic then. Great 🤗, thank you.

[2022-03-31 18:43] Doohae commented on #42
@lewtun Can I start with chapter1? I'll try my best finishing it maybe in a day(or within two days at the latest 😂)

[2022-03-31 19:19] CaterinaBi commented on #45
Hi guys,

sorry for the late reply but I took a day off yesterday.

I agree with the need to standardise our translations, although I am quite torn when it comes to the question of whether or not we want to translate the technical terms. I believe that if we want a clean Italian version we should use the proposed form 'apprendimento automatico (machine learning)' but at the same time it's true tha

[2022-03-31 19:24] CaterinaBi commented on #45
Hi @sharkovsky , I've checked out your fork and your first translation seems fine to me ;)

[2022-04-01 04:50] ckingkan commented on #64
Hi all, I'm happy to help translating chapter 2

[2022-04-01 05:26] seopbo commented on #42
@lewtun I want to translate chapter 6 (the tokenizers library) to korean. After translatin this chapter, I'll translate one of remainders.

cc: @rainmaker712 @bzantium @Doohae

[2022-04-01 05:30] bzantium commented on #42
@lewtun I would like to take part in chapter 5 (the datasets library). After that, I'll do with priority.

[2022-04-01 08:50] sharkovsky commented on #45
Hi everyone,
following @ClonedOne sensible suggestion, I converted this discussion into a [forum post](https://discuss.huggingface.co/t/standardazing-italian-translation/16352?u=sharkovsky).

@CaterinaBi, @lewtun, @davidemastricci I tried to interpret your votes, but please feel free to correct any mistakes I made.

Everyone, please let's use the forum post to discuss from now on since it will be

[2022-04-01 09:57] lewtun commented on #55
Thank you very much @1375626371 and @zhlhyx - I've marked both your names on the sections. Looking forward to your PRs!

[2022-04-01 10:04] peeraponw commented on #64
I'll continue on the rest of chapter 1.

[2022-04-01 10:06] lewtun commented on #51
Hello, would one of the Portuguese speakers here like to give @victorescosta's PR a quick review? https://github.com/huggingface/course/pull/79

About the pictures, I suggest we keep them in English at this stage as it will require some work to enable the community to contribute their changes to these files.

On the question of pt-PT vs pt-BR, is it true that a pt-PT reader would understand someth

[2022-04-01 10:33] lewtun commented on #42
Hey @Doohae @seopbo @bzantium - thank you all! I've added your names to the list :)

[2022-04-01 14:19] lewtun commented on #64
I've just deployed the first part of the Thai translation 🥳 ! You can view it here: https://huggingface.co/course/th/chapter1/1

Next week we'll fix the language dropdown so that you can access all the languages from the same place.

@ckingkan thank you for offering to help! I've added your name to the list

[2022-04-01 14:24] davidemastricci commented on #45
@sharkovsky forum link do not work anymore.

[2022-04-01 14:28] sharkovsky commented on #45
yeah it's been marked as spam by the automatic filter, it should be back soon I hope.

[2022-04-01 14:29] lewtun commented on #46
Thank you for offering to help @sandhiyaprabhasss 🙏 ! I've just added your name to the list :)

[2022-04-01 14:30] michimichiamo commented on #45
Hello everyone, I am Michele and recently graduated in Artificial Intelligence at the University of Bologna. Italian is my native language and I would be glad to join the translation! Since Chapter 7 is still to be assigned, I propose to help with that.

[2022-04-01 14:36] lewtun commented on #45
Hey @sharkovsky thanks for creating the forum post - I've asked one of the admins to unblock it and hopefully that happens soon 🤞

@michimichiamo I've added your name to the list - welcome!

[2022-04-01 14:37] sharkovsky commented on #45
Thank you, it just got unblocked :D

[2022-04-01 14:43] lewtun commented on #45
By the way, I realised from the other translations that we need the first section from Chapter 1 to be translated in order for course to render on the website. My suggestions would be:

- @CaterinaBi would you like to open a pull request with the first section translated?
- Iterate on the glossary in the forum, and then add it as a new "chapter" to the course.

For the second point, we can then ha

[2022-04-01 14:53] sharkovsky commented on #45
Hi @lewtun,

just to clarify: we've been calling it a glossary, but it's actually just a vocabulary, i.e. a 1-1 mapping of english and italian terms. Does this meet your expectations? Or did you want us to provide short explanations for each term as well? In any case, I'm happy to oblige!

@lewtun is there a way to make my forum post editable by anyone, so everyone can contribute to the glossary d

[2022-04-01 14:59] lewtun commented on #45
Thanks for clarifying! Since other translators are taking the vocabulary route, I suggest we start with that - we can always expand it to include definitions later if we want to :)

Thanks! I replied there

[2022-04-01 15:03] sharkovsky commented on #45
Sounds great, let's start with a vocabulary and see where we go from there...

If there is an english source for an "official" glossary containing term definitions and descriptions, I'm sure we can translate that to italian as well!

[2022-04-01 17:49] lewtun commented on #50
Hello @schoobani has a nice PR here: https://github.com/huggingface/course/pull/71

Would a Persian speaker here be willing to have a quick review as I unfortunately don't speak Farsi 🙈 ?

[2022-04-01 21:11] schoobani commented on #50
@jowharshamshiri I think using the emoji 🤗 is compatible with the Persian text. Personally for me, seeing the emoji in documents indicates a relation with huggingface features. We can decide about it after finalizing the translations.

[2022-04-02 02:23] jowharshamshiri commented on #50
I think we should make these choices as soon as possible, to minimize editing at the end. This one seems like a simple replace, but there will be so many little details like it that when taken together, will make for a quality translation and let us avoid a lot of unnecessary headache. That being said, these are my reasons for transliteration:

- This is a substitute for brand name. We should tran

[2022-04-02 03:14] jowharshamshiri commented on #50
I went with 'Huggingface'(one word) to demonstrate our use of a half-space in Persian transliteration to you. The English is ofc Hugging Face(two words) but when transliterated to Persian, this is one semantic unit and a loan word that we are introducing to Persian, which is reflected in the half-space. You don't expect people to use each transliterated word elsewhere in Persian on its own.

[2022-04-02 03:24] kirby123-cmd commented on #46
Hello @sandhiyaprabhasss  , Thank you for offering your help !!

[2022-04-02 06:48] HishamKhdair commented on #53
I will be working on Transformers models - Introduction and NLP for now...

[2022-04-02 06:52] HishamKhdair commented on #53
and I will keep working on the whole chapter then... @lewtun

[2022-04-02 07:49] eNipu commented on #72
I will be translating from Chapter 0-1 first.

[2022-04-02 15:27] Doohae commented on #42
@lewtun Just finished the whole chapter0&1! And also fixed what you've mentioned in #80
In case the four above (including me) actually are in the same Slack channel, I just asked others to review my work ✋

[2022-04-02 20:30] peeraponw commented on #64
Just curious how often should we do a PR? I am afraid @lewtun would be overloaded if we make a PR per section, which means 69 PRs per language. Should it be like once per a couple of sections, or like one third of the chapter per PR?

[2022-04-03 01:03] rainmaker712 commented on #42
@lewtun I am gonna take chapter 2 then, to Korean. After translating this chapter, I'll translate one of remainders too.

cc: @rainmaker712 @lewtun @Doohae

[2022-04-03 01:26] ckingkan commented on #64
I think one third would be a good idea.

[2022-04-03 06:36] abdouaziz commented on #44
Good ! 👍

[2022-04-03 07:05] schoobani commented on #50
Sure, we should use the single word structure (هاگینگ‌فیس), and I will consider it on my translations.
We must consider the correctly usage of half-space as a general rule in all translated documents not just the name.

[2022-04-03 07:06] schoobani commented on #50
Sure, we should use the single word structure, and I will consider it on my translations.
We must consider the correctly usage of half-space as a general rule in all translated documents not just the name.

[2022-04-03 07:09] oToToT commented on #55
Hi, will this translation be in Traditional Chinese or Simplified Chinese?

As I know, either ISO 639-1 or ISO 639-2 makes no differences between them. However, they actually differ in many aspects including words, characters.
Therefore, many websites have different pages for them. For example, MDN [(zh-TW)](https://developer.mozilla.org/zh-TW/docs/Web)/[(zh-CN)](https://developer.mozilla.org/zh-C

[2022-04-03 11:04] John-China commented on #55
Agree. [This table](https://hackmd.io/@l10n-tw/glossaries) alone shows a ton of difference between Traditional Chinese and Simplified Chinese.

[2022-04-03 12:18] fbagci commented on #41
Hi, I want to start translating [3.mdx](https://github.com/huggingface/course/blob/main/chapters/en/chapter1/3.mdx) from chapter 1 - Transformer models

[2022-04-03 18:09] davidpeng86 commented on #55
I will be translating into Traditional Chinese.

[2022-04-04 00:38] jowharshamshiri commented on #50
@lewtun I added my name to chapter 0 and also chapter 2/page 1.

[2022-04-04 01:40] Taekyoon commented on #42
@lewtun If anyone has not been tried to translate chapter 3, I'll do it :)

cc: @seopbo @rainmaker712 @bzantium @Doohae

[2022-04-04 09:29] pandyaved98 commented on #59
@lewtun @panda-sai I've worked on the first chapter (Introduction) and will continue for the whole course if it's assigned. The PR for the introduction chapter is up. Take a look, eagerly waiting for the reply over that.

[2022-04-04 09:52] avishek-018 commented on #72
I will be translating chapter 2

[2022-04-04 11:56] lewtun commented on #64
Thanks for raising this issue @peeraponw! Indeed a PR per chapter would be ideal, but I understand that not everyone has the time to do this. So my general suggestion would be:

* If you're planning to tackle a whole chapter => open a PR for that chapter
* If you're planning to tackle a few sections of a chapter => open a PR for those sections

For the reviews themselves, I'll need all your help t

[2022-04-04 12:07] lewtun commented on #64
One thing you might want to discuss here is how to handle English technical terms like "pretrained model": https://github.com/huggingface/course/pull/73/files#r841659145

I'll leave this decision to you, but here's a few suggestions:

1. Leave the technical terms in English
2. Translate the technical terms, but add the English equivalent in parentheses. This is similar to how Wikipedia handles tra

[2022-04-04 12:14] lewtun commented on #53
Thank you @HishamKhdair - I've added your name to the list!

[2022-04-04 12:53] peeraponw commented on #64
As mentioned in #73, my translation and @a-krirk translation seems to align with the 2. choice.

[2022-04-04 12:54] lewtun commented on #64
OK great, let's stick with that. We can always add a glossary later on :)

[2022-04-04 12:57] lewtun commented on #41
Thank you @fbagci 🤗 ! I've added your name to the list :)

[2022-04-04 13:16] lewtun commented on #55
This is a great question @oToToT! You're more than welcome to have different pages for traditional and simplified Chinese - the only thing to note is that you'll need to have separate folders for the content (e.g. `zh-CN` and `zh-TW`).

If you wish to add simplified Chinese, I suggest opening a new issue with something like "Translate to Simplified Chinese" to distinguish it from this issue & make

[2022-04-04 16:07] petrichor1122 commented on #55
I'm very glad to participate in this project. I plan to translate sections 3 and 9 in chapter 1 next week. Please mark it for me. Thank you!

[2022-04-04 18:02] lewtun commented on #75
I've now deployed the Russian version and you can access it here 🥳 : https://huggingface.co/course/ru/chapter1/1

(We plan to add a button to the dropdown so this can be accessed directly from the English version)

[2022-04-04 19:27] lewtun commented on #55
Thank you @petrichor1122 - I've added your name to the list! This is really exciting as we'll soon have the first chapter available in traditional Chinese 🥳 !

[2022-04-05 04:45] pdumin commented on #75
It's great! Thank you!

[2022-04-05 10:04] UmutGuzel commented on #41
Hi, I want to translate chapter1/4.mdx. Could you add me to the list?

[2022-04-05 11:39] lewtun commented on #53
Hello @HishamKhdair has a nice PR for the first two sections of Chapter 1 if anyone here would like to give it a quick review: https://github.com/huggingface/course/pull/92

[2022-04-05 12:32] lewtun commented on #59
Thank you @pandyaved98 ! I left a small comment on your PR, but otherwise it looks good to go. I've also added your name to the first section of Chapter 1 - we need that to render the Hindi part on the website, so I suggest starting with that  if you're willing. Thank you again for your time and contributions!

[2022-04-05 12:50] lewtun commented on #72
Thank you so much @eNipu and @avishek-018 - I've added both your names to the list! Just FYI to render the translation on the website we need to have `chapter1 / section1` translated, so you might want to start with that before jumping to chapter 2

[2022-04-05 13:03] lewtun commented on #41
Thank you @UmutGuzel - I've added your name to the list!

[2022-04-05 16:45] lbourdois commented on #44
Hi,
I'm taking the whole chapter 2 @lewtun

[2022-04-05 17:21] abdouaziz commented on #44
Hi @lewtun  i am taking the whole chapter 4

[2022-04-05 20:53] IsSeck commented on #44
Hello @lewtun, I am taking chapter 3.

[2022-04-05 21:14] CaterinaBi commented on #45
Hi @lewtun, I'm sorry I didn't see your message before. I was actually wondering what I was going to do with that first section. You'll have to bear with me because I'm not sure how to do any of these. Let me figure things out, I'll keep you posted.

[2022-04-05 21:24] CaterinaBi commented on #45
Hi @lewtun, me again! Just to double check: what you need is the Introduction file, i.e. chapter1/1.mdx, right?

I just have to proof-read it and then I can open a pull request.

However, there are two images in that file that need translating:
1- https://huggingface.co/datasets/huggingface-course/documentation-images/resolve/main/en/chapter1/summary.svg
2- https://huggingface.co/datasets/huggingf

[2022-04-06 09:33] melaniedrevet commented on #44
Hi @lewtun, I am taking the whole chapter 5.

[2022-04-06 11:23] ufukhurriyetoglu commented on #41
I can work on 6 and 7 chapters.

[2022-04-06 12:05] svv73 commented on #75
I would like to help translating chapter 2. Now translate section 1.

[2022-04-06 14:41] lewtun commented on #45
Yep, that's right! This will allow us to build the website and then we can add the remaining content iteratively :)

About the figures, we don't yet have a good mechanism that allows external contributors to add them to the `documentation-images` repository and doing it manually myself across the 20+ translations we currently have in progress will be too time consuming 🤯

I suggest we leave the im

[2022-04-06 15:14] lewtun commented on #44
Hey @lbourdois @abdouaziz @melaniedrevet @IsSeck - this is awesome, thank you for offering to help! I've added your names to the list 🤗

[2022-04-06 15:16] lewtun commented on #41
@ufukhurriyetoglu thank you for your offer, this is great 🚀 ! I've added your name to the list :)

Just to double check, were you talking about chapters 6 and 7 or sections 6 & 7 of chapter 1?

[2022-04-06 19:41] jeanmidevacc opened #100 "Issue with Chapter 2 (Tokenizers/Tokenization) - output is different"
Hey Hugging face,

I am opening this issue because I am currently following your course (that is great by the way) and noticed some difference between the output displayed in the tokenization section and the output in my notebook.

On your lesson it looks like this
![image](https://user-images.githubusercontent.com/23313992/162052747-3ea595a6-2624-44e3-817c-cfac1b2e17fa.png)

When I am executing t

[2022-04-07 09:01] pandyaved98 commented on #59
@lewtun @panda-sai #59 I've created chapter1/1.mdx and created a pull request. Kindly take a look. The first 2 tasks are done.

[2022-04-07 20:40] akkasayaz commented on #41
hey, @mertbozkir my midterms just ended. If you haven't finished yet I can help you out with translating. Of course, if you want.

[2022-04-08 07:38] mertbozkir commented on #41
@akkasayaz Thank you, I finished and make pull request yesterday🤗.

I would take 1.8, 1.9 @lewtun 🧡

[2022-04-08 10:19] akkasayaz commented on #41
I would take 1.10 @lewtun

[2022-04-09 09:34] schoobani commented on #50
@jowharshamshiri I mistakenly translated the [chapter 0](https://github.com/schoobani/course/blob/main/chapters/fa/chapter0/1.mdx). If you have already done it feel free to ignore my work. As soon as you let me know I send a pull request. so we can see the first previews of RTL format on huggingface docs.

[2022-04-09 09:39] schoobani commented on #50
@jowharshamshiri I am not sure how the translated numbers will be shown in the docs and which is the best approach.
[code]

Or?

[code]

[2022-04-09 11:38] jowharshamshiri commented on #50
No worries brother. I just checked the commit in your fork and I very much like the tone of your translation. It sounds natural and shows that you've spent time to refine it--that's valuable work. My PRs have "first draft" in the name for this very reason. We need to collaborate more swiftly by sharing drafts of our work and learning from each other. With smaller PRs and and more frequent PR revie

[2022-04-09 11:40] jowharshamshiri commented on #50
I think this works, but let's wait and see the live previews.

[code]

[2022-04-10 21:23] aeaen opened #109 "Translation to Polish"
Hi there 👋

Let's translate the course to Polish so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating – let us know here if you'd like to translate any, and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-04-11 12:28] deepconsc opened #111 "Translation to Georgian"
Hi there 👋

Let's translate the course to `Georgian` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the numb

[2022-04-12 06:23] pdumin commented on #75
The first chapter is already translated: https://github.com/huggingface/course/pull/98

[2022-04-12 09:59] lewtun commented on #41
Thank you su much @mertbozkir and @akkasayaz 🤗 ! I've added your names to these sections :)

[2022-04-12 12:38] hiromu166 opened #114 "Translate to Japanese"
Hi there 👋

Let's translate the course to `YOUR-LANG` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the num

[2022-04-12 12:59] snorlaxchoi commented on #55
Hi everyone ☺️, I'm a freelance translator and currently working on a NLP side-project and I absolutely love huggingface for helping me out a lot in my project so I would love to contribute to the community. Since @petrichor1122 will be translating sections 3 and 9 of chapter 1, I plan to translate sections 2,3,4 of chapter 1 in Traditional Chinese. Please mark it for me. Thanks!

[2022-04-12 17:59] 1375626371 commented on #55
The translation work for the last week has been basically completed. I plan to translate sections 8 in chapter 2 next week. Please mark it for me. Thank you!

[2022-04-13 00:01] rono711 commented on #72
I will also join this project. As mentioned by @lewtun we have to finish chapter 1 first so I will start translating chapter 1section 4. In that way, @eNipu and @avishek-018 you have the first few sections to work with.

[2022-04-13 02:24] HishamKhdair commented on #53
That sounds good @giyaseddin. At present, I am working on chapter 1 - Transformer models

[2022-04-13 05:53] pdumin commented on #75
I'll start translating Chapter 3: Fine-tuning a pretrained model soon.

[2022-04-13 09:54] lewtun commented on #50
Hi @jowharshamshiri I suppose one idea would be to include a `TRANSLATING.txt` file in `chapters/fa` - it can't be a `.md` file because `doc-builder` will try to build it as part of the website.

This way we keep the glossary clean on the website. What do you think?

[2022-04-13 10:06] jowharshamshiri commented on #50
That's perfect thank you. Will do.

[2022-04-13 21:59] snorlaxchoi commented on #55
I have gone through the first chapter and it seems to be in simplified Chinese, so taken @oToToT's idea, I'll probably have to move to another thread for Traditional Chinese so that it wouldn't clash with this project. :)

[2022-04-13 22:02] snorlaxchoi opened #117 "Translation to Traditional Chinese (zh-TW/zh-HK)"
Hi there 👋

Let's translate the course to Traditional Chinese (zh-TW/zh-HK) so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `is

[2022-04-13 23:06] davidpeng86 commented on #55
I made this thread with the intent of translating into traditional Chinese. It would be great if @lewtun can change the [zh](https://github.com/huggingface/course/tree/main/chapters/zh) file name into zh-CN.

[2022-04-14 07:30] Itaymanes commented on #48
yalla, let's do it... I will take chapter 3

[2022-04-14 09:36] lewtun commented on #55
Thanks for the clarification @snorlaxchoi and @davidpeng86! I'll update the language tags accordingly & mark the completed chapter in the new issue

[2022-04-14 09:37] lewtun opened #118 "Translate to Simplified Chinese (zh-CN)"
Hi there 👋

Let's translate the course to Chinese so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number

[2022-04-14 09:44] lewtun commented on #55
OK everyone, I've created a new issue for those who wish to continue work on the Simplified Chinese translation: https://github.com/huggingface/course/issues/118

Let's keep the current issue for Traditional Chinese as @davidpeng86 mentioned - this means we can close https://github.com/huggingface/course/issues/117 right @snorlaxchoi ?

Also @1375626371 @zhlhyx @petrichor1122 - I plan to rename th

[2022-04-14 10:20] 1375626371 commented on #55
Great, the grouping is correct now. Our translation is indeed simplified Chinese, thank you. We will submit our translations in Simplified Chinese (zh-CN) later.

[2022-04-14 10:39] snorlaxchoi commented on #55
Yes, thank you, please close #117 and I will continue to work on translating into Traditional Chinese under this thread.

[2022-04-14 10:40] petrichor1122 commented on #118
I'm very glad to participate in this project. I plan to translate sections 1，3 ，4and 5 in chapter 2 next week. Please mark it for me. Thank you!

[2022-04-14 10:40] snorlaxchoi commented on #117
Closed issue as migrated to issue #55.

[2022-04-14 10:40] #117 closed

[2022-04-14 11:32] shotaro-funai commented on #114
I'd like to translate a part of Chapter 3 - Fine-tuning a pretrained model (3.1, 3.2, and 3.3).
Can I ask you to add my name to the list?

[2022-04-14 13:23] hiromu166 commented on #114
Hi @shotaro-funai.
Of course! I added your name to the list.
Thank you for your cooperation.

[2022-04-14 19:33] KeremTurgutlu opened #121 "Tokenization Corpus Minor Difference"
Hello,

I believe the corpus and the `word_freqs` output used in the [BPE](https://github.com/huggingface/course/blob/main/chapters/en/chapter6/5.mdx#implementing-bpe) / [WordPiece](https://github.com/huggingface/course/blob/main/chapters/en/chapter6/6.mdx#implementing-wordpiece) implementations have a mismatch simply `Course -> course` is not capitalized in corpus but `word_freqs` seem to use the

[2022-04-15 03:57] KeremTurgutlu commented on #121
[WordPiece](https://github.com/huggingface/course/blob/main/chapters/en/chapter6/6.mdx#implementing-wordpiece)

[code]

vocab in from this print statement is missing the merge `ab` and has 69 merges, although vocab_size is set to 70.

[2022-04-15 04:13] ashwathim opened #122 "Translating the course to Gujarati, spoken by around 50 million people"
Hi there 👋

Let's translate the course to `Gujarati` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the numb

[2022-04-15 04:16] ashwathim commented on #122
I would like to start translating the course starting from chapter 0 - Setup and then move to 1- Transformer models

[2022-04-15 17:57] KeremTurgutlu commented on #121
Same typo `Course -> course` is also present in [Unigram](https://github.com/huggingface/course/blob/main/chapters/en/chapter6/7.mdx). Final tokenizations assumes capital `Course` is used and results in ```['▁This', '▁is', '▁the', '▁Hugging', '▁Face', '▁', 'c', 'ou', 'r', 's', 'e', '.']```. However if lowercased `course` is used then the tokenization would be ```['▁This', '▁is', '▁the', '▁Hugging'

[2022-04-17 09:54] schoobani commented on #50
@jowharshamshiri
Added Chapter1 --> `1.mdx` and `2.mdx` and they are ready for the peer reviewing.
https://github.com/schoobani/course/tree/main/chapters/fa/chapter1

I used brackets to indicate phrases which doesn't appear to be in the glossary and I think they will appear again in the text. here is a list of them and my initial translations for them.

- Fine-tune (فاین‌تون)
- Research Engineer (

[2022-04-17 09:59] schoobani commented on #50
@jowharshamshiri @lewtun
I think we should consider using another font for the persian/arabic in huggingface.
In my opinion, current used font is very difficult to read and follow.

[2022-04-17 18:03] jowharshamshiri commented on #50
Hey @schoobani. Great progress! Was planning on doing this tonight but have been swamped lately and honestly am having trouble keeping my eyes open. Will get back to you as soon as I can. :)

[2022-04-17 21:20] kambizG commented on #50
Hi, I'd like to contribute in this project. Please, let me know what I can do? I saw someone has already taken chapter 1. Can I start with Ch2?

[2022-04-18 07:28] schoobani commented on #50
Hi @kambizG! chapter1 is work in progress by me and chapter2 will be done by @jowharshamshiri.
We can ask @lewtun to assign chapter3 **Fine-tuning a pretrained model** to you.

[2022-04-18 08:22] jowharshamshiri commented on #50
Hello and very happy to have you joining us @kambizG jan. Thanks for your precious time. Please have a look at the glossary before you start and tell us how you think we could do better.

[2022-04-18 09:39] hamedonline commented on #50
Hi everyone!
Great to see Persian community here 🤗. I would also like to contribute by taking over chapter4, if you will. Let's get it done ;)

[2022-04-18 09:56] jowharshamshiri commented on #50
Hi @hamedonline jan. Super happy to have you join us. Thanks for donating your time. Please checkout the glossary, it is a work in progress and your input is very much appreciated.

@lewtun I added Hamed's name to chapter 4.
@kambizG Please confirm if you'd like to work on chapter 3.

[2022-04-18 12:15] jowharshamshiri commented on #50
Hey @schoobani, sorry for the late reply, literally was half-awake when I wrote the last message. Please submit these pages in a PR, I think the best place for this discussion is in the PR page while we review the work. Here are my notes on the two pages. They are ordered as they occurred to me in reading. I welcome further input from you and our new collaborators @kambizG and @hamedonline on thes

[2022-04-18 17:33] kambizG commented on #50
Great! then I'll start Ch3 as soon as possible. Just a quick question, since this is my first time doing such contributions. I'm gonna do as the following: 1) clone, 2) translate, 3) push

is that right?

[2022-04-18 17:39] kambizG commented on #50
@jowharshamshiri, yes I'll start working. This is my first such contribution and I need to make sure I'm doing right. First, Should I clone the main branch? Second, is this right to do as follows: 1)clone, 2)translate, and 3) push?

[2022-04-18 17:50] jowharshamshiri commented on #50
We are lucky to have you. Yes, that is about it. You ofc already know this stuff but just to be complete:

1. Please fork the [Hugging Face course](https://github.com/huggingface/course) to your profile.
2. Clone your fork to your local machine.
3. Use this issue page for general discussion on word choices and whatnot.
4. When you have a page done commit back to your fork and open a PR for that pa

[2022-04-18 17:53] jowharshamshiri commented on #50
@lewtun I added @kambizG 's name to Chapter 3.

[2022-04-18 18:51] hamedonline commented on #50
Thank you @schoobani for the draft and thanks to @jowharshamshiri for extensive suggestions. I'd also like to submit a few hints regarding the discussed lines:
1. I guess we'd better check out the latest official Persian writing guide by 'فرهنگستان زبان و ادب فارسی' as well. Please note that **I'm not advocating for them at all**. It's just there are some changes compared to what my generation lea

[2022-04-18 19:55] jowharshamshiri commented on #50
Thank YOU for being amazing: on point 1, we were with you before you were even here! [see this comment.](https://github.com/huggingface/course/issues/50#issuecomment-1083672923) I didn't know they changed that convention back! I'll be sure to retroactively apply that to my pages in the next PR.

I am generally against inventing new words when we could just use or introduce transliterated loan word

[2022-04-19 02:57] ftarlaci commented on #41
Hey @lewtun , I  have a little more time in my hands this week. I can start with chapter2/1.mdx

[2022-04-19 08:35] kambizG commented on #50
I started working. Try to finish intro by tomorrow.

[2022-04-19 16:08] langfab commented on #43
I can continue with translating chapter 2 to German

[2022-04-19 20:41] JesperDramsch commented on #43
Happy to give chapter 3 a shot. Any guidelines I can follow?

[2022-04-19 21:02] JesperDramsch commented on #43
Oh, common question I run into on German translations. Do we use the formal or informal you? I assume informal but I figured I'd ask.

[2022-04-20 07:00] kambizG commented on #50
Hi, I finished Ch3-intro. Can someone please review my work?

Here is my proposal for some new terms that I couldn't find in the glossary:

keras -> کراس
fine-tune -> بازتنظیم
prediction -> پیش بینی
training loop -> چرخه تعلیم
pre-trained -> پیش تعلیم

[2022-04-20 07:50] pandyaved98 commented on #59
@rrrohit1 Yes, you can start working on that.

[2022-04-20 10:09] jowharshamshiri commented on #50
Hi everyone. Please review page2 of chapter2. I have too many additions to the glossary to list them here. ❤️❤️❤️

https://github.com/huggingface/course/pull/129

[2022-04-20 10:10] fabridamicelli commented on #43
Hi @lewtun,
I could give Ch 4 a try!

[2022-04-20 10:11] fabridamicelli commented on #38
Hi @lewtun,
I could give Ch 4 a try!

[2022-04-20 10:21] MarcusFra commented on #43
Hey @langfab, @JesperDramsch and @fabridamicelli! I am glad that you also want to work on the German translation!
I've just been two weeks off - I am going to deliver chapters 0 and 1 by likely the end of next week, so the redirections will work then.

@JesperDramsch: Good question whether to use the formal or informal you. I would have gone for the formal style since it's used mostly in German pr

[2022-04-20 10:34] JesperDramsch commented on #43
For now, I was going with the informal you, because the course is written quite colloquially, so it would be really weird mix. I'd have some stuff that translates to:

As for the translation of terms, I mostly go with "are the English terms used in German" and refer to Wikipedia and Google searches how others use it for backup. So I'm going with anglicisms like "Inputs, Training, Padding, Batch" b

[2022-04-20 11:21] hamedonline commented on #50
Great contributions, thanks everyone 🙌.

I noticed that glossary will be a work in progress in which we might have different opinions on the most-fitting words as we go further. And soon it would result in inconsistent translations if we don't decide on final suitable words in glossary.
Therefore I decided to make a spreadsheet with multiple translation suggestion spots for each word. This would m

[2022-04-20 11:32] jowharshamshiri commented on #50
Hi Hamed Jan. We originally created the glossary file to serve this very purpose, it does not exist in the English version. Over at the Italian translation they are doing the same thing. So ofc thank you for the initiative and I know it will be useful, but we need to keep in sync by fetching and contributing to the glossary file, we need a single source of truth.

Also in relation to the PR issue,

[2022-04-20 12:14] jowharshamshiri commented on #50
Hi @kambizG jan,

Great job and thank you.

In case of "Keras", Can we add diacritics for to ensure our readers get the correct pronunciation? Please see the last guideline in the new TRANSLATING file in my PR.

I vote for "کوک کردن" for fine-tune. Guideline no. 8 in the old glossary and the new TRANSLATING file applies here. Do we consider this to be a technical word? If not, why not use both.

I

[2022-04-20 13:35] lewtun commented on #43
Hi everyone, I'd also be in favour with using informal German as the text is written in a rather playful style and we might lose that in translation.

Regarding where to keep a canonical list of translations & general guidelines, I suggest creating a `TRANSLATING.txt` file with the guidelines and a new `glossary` chapter with information that might be useful for German readers. You can see and exa

[2022-04-20 13:46] lewtun commented on #121
Thanks for reporting these typos @KeremTurgutlu - you're totally right that the capitalization isn't applied consistently. I think the simplest change would be to capitalise `Course` in the `corpus` list - would you like to open a PR with the fixes?

[2022-04-20 15:13] JesperDramsch commented on #43
Ok awesome. I got started on the glossary and style guide. Happy to take edits on the PR if anyone thinks I made mistakes or my style suggestions go in the wrong direction. And of course additions as we go along.

[2022-04-20 17:01] lewtun commented on #59
Thanks for offering to help @rrrohit1 ! I've added your name to the list :)

[2022-04-20 17:17] hamedonline commented on #50
Ok dear friends, Chapter4/Page1 is ready for review:
https://github.com/hamedonline/huggingface-course/blob/main/chapters/fa/chapter4/1.mdx
Please let me know your thoughts.

New word proposals / edits for glossary:

- Dataset -> مجموعه داده
- Community -> انجمن کاربران
- Reproducibility -> بازتولید
- Versioning -> نسخه‌بندی
- Tokenizer -> توکِن‌ساز
- Feature (as in 'dataset features') -> ویژگی
-

[2022-04-20 17:33] hamedonline commented on #50
Dear @kambizG thanks for the great work.
I just noticed the lack of نیم‌فاصله in some words. That would be awesome if you consider that. For instance:

اما چگونه میتوانید یک مدل پیش تعلیم را خودتان بازتنظیم کنید؟
Changes to:
اما چگونه می‌توانید یک مدل ازپیش‌تعلیم‌دیده را خودتان بازتنظیم کنید؟
Or even could change to:
اما چگونه می‌توانید یک مدل ازپیش‌تعلیم‌دیده را خودتان با داده‌های جدید بهبود دهید

[2022-04-20 17:53] jowharshamshiri commented on #50
Hi Hamed Jan,

On "dataset", I vote to transliterate. This is an accepted word in the industry from my vantage point. Not once in years have I said "majmoue-dade" to any colleague. Dataset we use all the time and it is a first-class Persian word, even if it is a loan word.

On Hub, if it is not The Hugging Face Hub(which I think is also referred to the Model Hub elsewhere), I agree with your choic

[2022-04-20 17:54] jowharshamshiri commented on #50
Hi @hamedonline  Jan,

On "dataset", I vote to transliterate. This is an accepted word in the industry from my vantage point. Not once in years have I said "majmoue-dade" to any colleague. Dataset we use all the time and it is a first-class Persian word, even if it is a loan word.

On Hub, if it is not The Hugging Face Hub(which I think is also referred to the Model Hub elsewhere), I agree with yo

[2022-04-20 18:03] jowharshamshiri commented on #50
I updated the issue prompt up there with new information on where the important files are and steps for contributing.

[2022-04-21 01:02] JesperDramsch commented on #43
Ok, chapter 3 is good to go from my side.

[2022-04-22 15:33] kambizG commented on #50
Hello friends,

The first draft of Ch3 - 2.mdx is finally done before the weekend. I'll go through the chapter during the weekend and ask for a reviewer's help ASAP.

Here is my new proposal for the glossary:

cache -> ذخیره کردن
object -> شئ
integer -> مقدار عددی صحیح
pre-processing -> پیش پردازش
paraphrases -> جملات متناظر
benchmark -> محک
items -> اقلام
argument -> آرگومان
padding -> هم طول ساز

[2022-04-22 19:46] jowharshamshiri commented on #50
Hi @kambizG  jan,

On cache, I see now that I did have this on ch2/p2 and used the same equivalent as you, but forgot to add it to the glossary. If you want I can add it to my PR.

On object, I agree. New word.

On Integer, I just went with "عدد صحیح" and if that is ok with you. Already in the G.

On pre-processing, I went with "پیش‌پردازش"(with a half-space) bc it seemed like a single semantic un

[2022-04-23 14:14] jowharshamshiri commented on #50
Hi @hamedonline jan,

Please review the [first draft of Chapter2/Page3](https://github.com/huggingface/course/pull/140/files).

[2022-04-23 16:37] hamedonline commented on #50
Great work @jowharshamshiri aziz ❤️
I'll check it out tonight for sure.

This is a good example to discuss and figure out how we should treat these cases. On Ch4P1 I had a similar situation (you most probably noticed it). The phrase was "به اشتراک گذاشتن مدل در هاب...". I treated it with full space and as you just said, it seemed weird with half-space. On the other hand, the case in which I applie

[2022-04-24 08:36] jowharshamshiri commented on #50
On 1, I agree let's not do example 1.
I also think eshterak-gozari does not warrant a half-space in any form, as evidenced by the fact that these two words form so many other patterns we use every day. Would also be hard to enforce in reviews and will confuse collaborators.

On 3, I vote we transliterate "Decoder" and "Encoder"(bc they're loanwords that stand for specific ML concepts), kod-gozari

[2022-04-24 10:35] hamedonline commented on #50
Oh, I totally forgot encrypt / decrypt. There is that too :))
My vote is also transliteration on this one. Probably we could use "کدگذاری" somehow in possible scenarios like this (I made this example up btw):

"Encoder neural networks help to reduce dimensions by encoding the input."
"شبکه‌های عصبی از نوع انکودر، با کدگذاری ورودی به کاهش ابعاد کمک می‌کنند"

[2022-04-25 11:48] kambizG commented on #50
Hi all, I'm done with the followings:

Ch3-P1 - first review applied:
https://github.com/kambizG/course/blob/main/chapters/fa/chapter3/1.mdx

Ch2-P2 - needs review (_**can someone review please?**_):
https://github.com/kambizG/course/blob/main/chapters/fa/chapter3/2.mdx

**Glossary:**
----------------
cache -> ذخیره‌کردن
object -> شیء
integer -> مقدار صحیح
pre-processing -> پیش‌پردازش
paraphrases

[2022-04-25 23:17] meanna commented on #64
I'd like to translate chapter 6.

[2022-04-26 13:55] shashankdeshpande opened #146 "Translate to Marathi"
Hi there 👋

Let's translate the course to `Marathi` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the numbe

[2022-04-26 14:00] shashankdeshpande commented on #146
Starting with chapter 0 - setup

[2022-04-26 19:02] jowharshamshiri commented on #50
Hi Kambiz jan,

On cache, @hamedonline suggested انبار کردن in his review of my page. It will be merged into the glossary once my PR is merged. That fit my use case fine, does it fit yours?

On label, I used "نام دسته" in a segment on classification. Tell me if you think I should change it to برچسب دسته, personally I think برچسب is a little too literal a translation.

On checkpoint, I used نقطه تع

[2022-04-26 19:41] lewtun commented on #146
Awesome, thanks for creating this initiative @shashankdeshpande ! Just FYI to show the content on the website, we need `chapter1/1.mdx` to be translated, so you might want to start with that so we can see how it looks :)

[2022-04-26 20:51] kambizG commented on #50
Hi Bahram jan,

**On Cache:** when I searched "Cache vs Storage/Save" it said that "Cache" is often used when we mean "Temporary Storage", which makes sense. For instance we always say "caching in RAM" and Not storing. Thus, I believe "انبار کردن" conducts more semantic weight towards "long term storage", rather than short. However, even "ذخیره سازی" is not a good choice as it somehow interferes w

[2022-04-26 22:14] hamedonline commented on #50
Thank you @kambizG for your suggestions.
I think the addition of "موقت" term to **cache** translation makes total sense and both "انبار موقت" and "ذخیره‌سازی موقت" sound good to me. We may consider adding them both to glossary and use either one according to the vibe of translated sentence.

I'd also like to mention addition of a PR for a chapter4/page2 translation (as seen in above link). There a

[2022-04-27 08:21] jowharshamshiri commented on #50
I defer to you on what we do with label and cache @kambizG jan.

[2022-04-27 08:29] jowharshamshiri commented on #50
Other than "نمونه‌سازی" I vote with you on all these @hamedonline jan. "ساختن نمونه" works why invent a new word.

I especially love your equivalents for "bias" and "downstream library".

If you add "interface" to G, please use "user interface" to avoid duplication with API interfaces.

[2022-04-27 13:15] lewtun commented on #118
FYI everyone - I've added created a channel on our Discord (notes in issue description) in case you need it :)

[2022-04-30 05:42] bzantium commented on #42
@rainmaker712 @Taekyoon @seopbo Let's start working on each part you take and finish until next weekend if you available :) I think intensive review and revision would be required after finishing korean translation of all chapters instead of every PR.

[2022-05-01 14:45] Taekyoon commented on #42
@bzantium Sorry, I can't make up that until next weekend, and got some personal issues in this month.
If anyone can do on my task, please reassign to him or her.

[2022-05-01 22:35] meanna commented on #64
Nice, thank you. I'm having an exam at the uni this week. I think I can start next week:)

[2022-05-02 04:57] robotjellyzone commented on #59
Hi there, can I also work on this language translation for few chapters ? May be chapter 2 or 3 if chapter 1 is completed 😊

[2022-05-03 11:16] oguuzhansahin commented on #41
Hi, I'm currently working as a NLP Engineer in Areal.ai. I would like to work rest of the chapter 6 (tokenizers). Thanks in advance. @lewtun

[2022-05-03 13:46] merveenoyan opened #158 "Empty Building Model Card section"
Hello 👋
[Building Model Card](https://huggingface.co/course/chapter4/4?fw=pt) section in chapter 4 seems empty. (link goes to nowhere)
I'll check what's wrong but if anyone knows feel free to do it before me :')  pinging @lewtun here

[2022-05-04 13:04] johnnv1 commented on #51
Hi, I will start to work on the 4th chapter

[2022-05-05 17:41] merveenoyan commented on #158
I think he doesn't have bandwidth (?) I will debug later today.

[2022-05-05 18:35] fordaz commented on #38
Hi there, I have almost ready the following files:
es/chapter3/1.mdx
es/chapter3/2.mdx

Could you please put my name on them ?
I'm getting ready to create a PR.
Thanks.

[2022-05-06 13:15] divenyijanos opened #164 "Fix cost comparison in the chapter of "How do Transformers work?""
I think you wanted to write here "$ in compute" to contrast fine tuning with the costly process of training from scratch.

![image](https://user-images.githubusercontent.com/7870632/167138435-0dde3dc3-c8df-4abc-9c31-98ca61ef3de7.png)

Great content, any way, thank you very much!

[2022-05-07 04:18] KeremTurgutlu commented on #121
@lewtun created https://github.com/huggingface/course/pull/166

[2022-05-07 15:33] lbourdois commented on #158
Hi @merveenoyan 👋

I had mentioned this problem to Lewis last week. I don't know if this can help you to find the cause of the problem but after exploration, I could see that it was the only page of the course not working (for all languages) and that this problem impacted the English page but also the French one (it has not been translated in other languages for the moment).

[2022-05-07 20:05] LayanCS commented on #53
Hi @lewtun I'd like to help out as well, I can do chapter 4 :)

[2022-05-09 05:22] yurikimura commented on #114
Hello @hiromu166 @shotaro-funai,
I'd like to ask you if I could work on chapter 2.
Also I need to apologize that I did chapter 1/2 by mistake, maybe I should decline and close the PR, but I appreciate if I could have any suggestion about it.
https://github.com/huggingface/course/pull/169

[2022-05-09 09:36] mishig25 commented on #158
@lbourdois thanks a lot for reporting this problem! A fix is on the way! 😊

[2022-05-09 10:14] #158 closed

[2022-05-09 23:44] hiromu166 commented on #114
Hi @yurikimura.

Sure! Thank you for your cooperation.

Oh, I see. Unfortunately, I've already translated chapter 1/2 in my local, so could you close #169? I'm sorry to trouble you...

[2022-05-10 00:20] yurikimura commented on #114
Hello @hiromu166 ,
I appreciate letting me do the 2nd part!
I have closed https://github.com/huggingface/course/pull/169 now. Thank you for taking care of it!

[2022-05-10 16:18] EdAbati commented on #45
Hi everyone,
I just found out about this very nice initiative!
I am a Data Scientist and Italian is my native language.
I would like to contribute too if you still need some extra help.😀
What else needs to be done? Maybe I can help with Chapter 8 (I can see that is still unassigned), or is there anything else left?

[2022-05-10 22:03] younesbelkada commented on #114
Hey there! I am more than interested on your project - since I am familiar with japanese I guess I can help and validate your translations, I have few questions
- the discord link seems to be expired?
- Where can I find your final PRs?  #169 seems to be closed
cc @lewtun

[2022-05-11 09:34] mishig25 commented on #158
It back live! https://huggingface.co/course/chapter4/4

[2022-05-11 10:04] lewtun commented on #158
Yay, thanks @mishig25 🤗 !!

[2022-05-12 09:52] fabridamicelli commented on #38
great! I'm on it

[2022-05-17 17:06] jowharshamshiri commented on #50
Folks, @schoobani jan and @hamedonline jan, please join the discord.

Easier to coordinate over there as me and @kambizG jan found out. We solved git issues over DM and I can't wait for us to hold a discussion over the equivalent for the word "padding" in main. The conversations there are more immediate and it's easier to clear up ambiguities in a timely manner like who is exactly reviewing my las

[2022-05-18 09:27] jowharshamshiri commented on #50
maybe try again? @hamedonline jan just joined with the same link. What do you mean invalid? does it take you to discord? if it does you need to react with an emoji to the message in the channel it takes you to, and wait a little for the admins to add you to our special discord.

[2022-05-18 09:59] jowharshamshiri commented on #50
Weird! Gently pinging @lewtun on this.

[2022-05-18 10:10] hamedonline commented on #50
@jowharshamshiri I got the same invalid invitation message yesterday. Have you already joined huggingface discord channel dear @schoobani?
If so, all you need to do is to go to course section and click on 🤗 **earth** emoji on #course-translations topic; after clicking that all sub-topics become activated and you can join conversations on #persian-translations.

[2022-05-18 10:21] jowharshamshiri commented on #50
I tap on the link and it takes me to the channel on discord but that might be bc I joined already. Anyways thanks to you for the instructions and I hope this works @schoobani and sorry for the unnecessary ping @lewtun.

[2022-05-18 12:07] jowharshamshiri commented on #50
@schoobani jan here's the Hugging Face Discord link. https://discord.com/invite/JfAtkvEtRb
once there please follow hamed jan's instructions to find our channel.

[2022-05-18 19:20] lewtun commented on #50
Hi folks, sorry the link expired - it seems you've sorted it out and as @jowharshamshiri suggests you can get the latest link via the Hub:

![Screen Shot 2022-05-18 at 21 19 32](https://user-images.githubusercontent.com/26859204/169139406-79d94323-73da-41c7-80c4-c1411088289d.png)

[2022-05-19 15:23] fordaz commented on #38
Hi @lewtun, I can help with:
* 0 - Setup (1.mdx)
* 1 - Transformer models (2.mdx)

[2022-05-20 13:10] robotjellyzone commented on #59
@lewtun since chapter 3 is merged so I guess now you can tick the same in the issue above making it easy for anyone new coming to this issue!

[2022-05-20 13:57] johnnv1 commented on #51
@victorescosta are you still working on chapter 1? If not, can I do or finish that? We need this first chapter to get access to the course on the site. 🤗

[2022-05-20 14:17] victorescosta commented on #51
Yeah my friend, I'm still work on it. But I think that I need some help to finish it asap, isn't it? I'm open to this if is that the case. BTW, currently I'm working on the 3.mdx of chapter 1.

[2022-05-22 17:27] johnnv1 commented on #51
Ok, i will just start the chapter 5, so there won't be any confusion

[2022-05-23 06:29] maderix opened #205 "Correction required in Chapter"
![image](https://user-images.githubusercontent.com/7760246/169754008-7d9bea63-cd02-4ee3-a60e-cde62b1c0632.png)
[Chap](https://huggingface.co/course/chapter2/2?fw=pt)
The block at the end should say 'Model Output'

[2022-05-23 16:00] dzarkV commented on #38
Hi, I would like to help with Chapter 8.1 and 8.2.

[2022-05-23 18:49] lewtun commented on #205
Thanks for spotting this! Gently pinging @Bibi-O for a fix when you have time :)

[2022-05-23 18:52] Bibi-O commented on #205
Thanks for the observation! Would fix it now! :)

[2022-05-24 10:46] FarukOzderim opened #207 "Add Docs/Demos/Blog Section to the end of Gradio Course"
I think this kind of Gradio new user flow would be excellent:
1. gradio.app getting_started
2. Gradio Course
3. repo demos, blog posts, gradio docs

[Related slack message](https://huggingface.slack.com/archives/C02QZLG8GMN/p1652345763781429?thread_ts=1652345407.957859&cid=C02QZLG8GMN)
[Related issue](https://github.com/gradio-app/gradio/issues/1271)

cc: @lewtun

[2022-05-24 19:39] lewtun commented on #207
Good idea @FarukOzderim ! I think this could go nicely in `chapter9/8.mdx` where we summarise the chapter. For example, we could have a sub-section called "Where to next?" or "Want to learn more?"

Would you like to open a PR with some of the most relevant links?

[2022-05-24 20:22] lewtun opened #213 "Dark mode for Gradio demos is hard to read"
The text in the demo below from `chapter91/mdx` is quite hard to read:

![Screen Shot 2022-05-24 at 22 21 27](https://user-images.githubusercontent.com/26859204/170125157-1b152380-9905-485f-812f-f8e4defa5fff.png)

Is it possible to tweak this easily @dawoodkhan82 ?

[2022-05-26 06:54] pandyaved98 opened #220 "Update EN/Chapter1/3.mds"
Hello!

I am opening this issue to fic the crashed image/option in the 3rd Topic of Chapter 1 in English.

![Crashed](https://user-images.githubusercontent.com/32775169/170434355-c69585a0-f6e3-40b8-8d87-b140a1ba0b3a.png)

[2022-05-26 07:00] pandyaved98 commented on #122
I am up for this too as it's my Native Language. Add my name for Gujarati as well.

[2022-05-26 16:31] alex-badin commented on #75
Hi everyone! wanna join the ru translation.
@svv73 , I can finish chapter 2, or please advise if you will.

[2022-05-26 17:29] dawoodkhan82 commented on #213
@lewtun I'll take a look

[2022-05-27 20:22] LincolnVS commented on #51
Could someone please update this with the chapters that have already been translated? From what I have reviewed, we have translated:
- ch0: 1
- ch1: 1; 2
- ch2: all
- ch4: all
- ch5: 1; 2; 3
- ch7: 1

[2022-05-30 09:23] lewtun commented on #45
Hi @EdAbati thank you for offering to contribute! I've added your name to chapter 8 🤗

Currently we have the first 3 sections of chapter 1 translated, so maybe after chapter 8 it makes sense to discuss with the others to see if they're still actively working on the previous chapters :)

[2022-05-30 09:31] CaterinaBi commented on #45
Hi @EdAbati, welcome! I'm working on chapters 1 and 2. @lewtun I've been snowed under with work but I was planning to go back to the translation between tomorrow and tonight. I'll normally be able to do both chapters I promised to translate. Have a great day, guys!

[2022-05-30 11:08] sharkovsky commented on #45
Welcome @EdAbati!
Before starting, please take a quick look at our [discussion](https://discuss.huggingface.co/t/standardazing-italian-translation/16352) on the huggingface forums as well, to try to ensure that we have a consistent translation across chapters.

@lewtun same here, I apologize but I've been busy with work lately... However I'm still active, just moving very slowly! When people are d

[2022-06-01 03:50] yurikimura commented on #114
Hello @younesbelkada, I am very sorry for late response.
I'm new here and I couldn't sure if I'd give you 100% correct answer, but as far as I know is following;
- The link for discord's expired, maybe we don't have a specific channel but can have a discussion here
- The final PR should be https://github.com/huggingface/course/pull/144 so far seeing https://huggingface.co/course/ja/chapter1/1
I ho

[2022-06-03 15:59] MichaelRipa commented on #205
Hi, I think I spotted a similar typo a few paragraphs below the figure:

![image](https://user-images.githubusercontent.com/51883134/171900796-617bc107-df99-4619-b8ec-ded5be82e610.png)

I was going to just do a pull request, but saw this and figured it would be easier to bring up here ☺️  (I don't have the repo cloned)

[2022-06-03 21:47] younesbelkada commented on #114
Hi @yurikimura
Thank you for your message!
Ok we can continue the discussion on this thread. Is there a plan to continue the translation? Also could you share with me your Twitter account? We want to Tweet this PR to the community to try to bring more contributors
よろしくお願いします！

[2022-06-04 07:41] kojimano commented on #114
Hi @yurikimura, I heard of this project from @younesbelkada, and I'm also more than happy to contribute!
I'm a native Japanese speaker, doing a Ph.D. in the U.S. (also currently interning at HF). Pretty sure I can be useful here :)

[2022-06-04 08:54] hiromu166 commented on #114
Sorry, I haven't checked this thread lately.

@younesbelkada
Thank you for your offer of cooperation! That's great for us.
As @yurikimura answered, we can continue the discussion here and our final PR is #144 .

Yes. My Twitter account is https://twitter.com/hiromoon166. That's a good idea to share this thread :)

@yurikimura
Thank you for answering the questions!

[2022-06-04 09:00] hiromu166 commented on #114
@kojimano
I appreciate your cooperation!

Wow! That's awesome! If you would like to translate some parts, please let me know.

[2022-06-04 09:33] younesbelkada commented on #114
Perfect here is the thread!
https://twitter.com/ybelkada/status/1532990394279116800?s=21&t=BpfDGoBzyc6coX7g0j3mFg

[2022-06-04 16:14] HiromuHota commented on #114
Hi all, I'm happy to take "4 - Sharing models and tokenizers"!

[2022-06-04 16:57] SodaTetsuhiro commented on #114
Hi @hiromu166 ,
I found this project on Twitter.
I'd like to translate all the rest of Chapter 3.  Can I ask you to add my name to the list?
I'm a native Japanese speaker, majoring in computer science at university in the U.S., so I'm a good fit for this project!

[2022-06-04 18:33] younesbelkada commented on #114
- [ ] Thank you all for your contributions ! Can't wait to read the Japanese translations 🔥

[2022-06-05 00:56] kojimano commented on #114
Let me do Chapter 5? @hiromu166, do you mind updating the list above? Thanks!
So excited to see this collaborative effort 🤗

[2022-06-05 05:21] hiromu166 commented on #114
@HiromuHota @SodaTetsuhiro @kojimano

Thank you all :)
I've updated the list. Please check it.

[2022-06-05 06:33] kuriyan1204 commented on #114
Hi there @hiromu166 , can I do the chapter6? Appreciate if you could add me on the list🤗

[2022-06-05 08:26] webbigdata-jp commented on #114
Hi. @hiromu166.
I saw this project on Twitter.
Can I do the chapter7 Main NLP tasks?

[2022-06-05 09:40] younesbelkada commented on #114
Hi @hiromu166 !
I am happy to do chapter8! Could you please add me on the list?
Very happy and excited to see all this efforts!

[2022-06-05 09:41] younesbelkada commented on #114
Also feel free to share your PRs once you have created it :) do not hesistate to request for our reviews as well for peer reviewing

[2022-06-05 19:22] trtd56 commented on #114
Hi @hiromu166 ! 🤗
I saw this project on Twitter but I guess I'm late...
Can I do the last "Events"?

[2022-06-06 00:09] hiromu166 commented on #114
@kuriyan1204 @webbigdata-jp @younesbelkada @trtd56

Thank you all :)
I've updated the list. Please check it.

[2022-06-09 15:00] #207 closed

[2022-06-11 20:08] HiromuHota commented on #114
I'm wondering if anyone wants to discuss things more casually and in real-time.
There is #japanese-translations channel in HF's discord, hope you see you guys there!

[2022-06-11 20:11] younesbelkada commented on #114
Would love to join the discord! But it seems that I can't. Probably the link has expired .. could you send another link please?

[2022-06-11 20:14] HiromuHota commented on #114
@younesbelkada Thanks for your interest! I believe you can use this http://hf.co/join/discord (or see https://discuss.huggingface.co/t/join-the-hugging-face-discord/11263).

[2022-06-11 20:27] HiromuHota commented on #114
@younesbelkada and those who are interested, once you've joined HF's discord, react to this message in #course-translations with a :hugging_earth: emoji to show **hidden** channels like #japanese-translations.
<img width="878" alt="image" src="https://user-images.githubusercontent.com/20668349/173203754-6dac09f2-1513-4025-a7e2-76eb03ca966d.png">

[2022-06-11 22:08] younesbelkada commented on #114
Perfect just managed to join the channel!

[2022-06-12 05:30] webbigdata-jp commented on #114
hi.
I have stamped the discord channel.

By the way, I submitted a pull request and it failed with the following error.
`
files need to be formatted, run make style
`
https://github.com/huggingface/course/runs/6847421797?check_suite_focus=true

It seems to be an error that the file name is wrong, however, `make style` is not a problem in my local environment.
Does anyone know the cause of this?

[2022-06-12 16:56] HiromuHota commented on #114
@webbigdata-jp According to the GitHub Action, what failed was `make quality`. Do the followings:
1. Run `pip install -r requirements.txt`
2. Run `make style`
3. Commit changed files and push

[2022-06-14 17:03] lbourdois opened #248 "A button towards the forum"
Hi,

I copy/paste the message from our discussion on Discord @lewtun:

What do you think about adding a button at the beginning of web pages that would send the reader to the forum to ask a question if needed?

![image](https://user-images.githubusercontent.com/58078086/173634602-936e7ad5-b136-43b5-a3b4-c3c7bc6a79ac.png)

For example for this image, clicking on the button would take you to https:/

[2022-06-15 15:02] younesbelkada commented on #114
Here is my draft PR: https://github.com/huggingface/course/pull/249 in case anyone want already review it!
Please feel free to share your PR even if they are WIP ;)

[2022-06-18 17:30] HiromuHota commented on #114
@webbigdata-jp I believe you resolved the issue already, but black needed to be 22.3.0. This https://github.com/huggingface/course/pull/252 will help prevent an issue like this going forward.

[2022-06-19 07:16] webbigdata-jp commented on #114
@HiromuHota @younesbelkada

Thanks for the advice.
I have re-created the python 3.10 environment in conda with python 3.6.
Now the test passes, but I didn't realize that black was the cause.

I haven't read through the discord yet, but I'll catch up later.

[2022-06-19 13:27] elisim opened #256 "gif is too small and can't be seen"
Hi, and thank you for the awesome course! 😀

small note: the gif here
https://huggingface.co/course/chapter4/2?fw=pt

can't be seen.

Thanks again,
Eli

[2022-06-21 07:28] lewtun commented on #248
Thanks a lot for the suggestion @lbourdois! I think this type of button would be great not just for the course, but also for our docs in the open-source libraries.

WDYT @mishig25 @gary149 ?

[2022-06-21 07:30] lewtun commented on #256
Thanks for reporting the issue! I'll see if I can fix it on the GIF side :)

[2022-06-21 07:32] lewtun commented on #220
Hi @pandyaved98 can you please explain a bit more on what the problem is? I had a look at the [rendered page](https://huggingface.co/course/chapter1/3?fw=pt) and it seems to look OK to me

[2022-06-23 20:54] johnnv1 commented on #51
I will start chapter 8 😄

[2022-06-28 14:50] younesbelkada commented on #114
Hi @hiromu166 !
Could you please update the table below to have a broader view of the remaining chapters to translate 🙏 I think we have 3 chapters left if I am not mistaken
Thanks a lot !

[2022-06-30 00:58] hiromu166 commented on #114
Sorry, I don't get what should I do... Could you tell me a little more detail?
(Do you mean to put a checkmark in the table above?)

[2022-06-30 06:15] HiromuHota commented on #114
@hiromu166 I believe @younesbelkada is referring to the table in the issue description (the very top of this page). Please check the item that's done.

[2022-06-30 07:47] younesbelkada commented on #114
@hiromu166 sorry I was unclear , yes I meant the table in the issue description since some chapter has been already translated ;)

[2022-06-30 13:41] mdrs-thiago commented on #51
Hi there! I recently discovered the topic of course translation on Hugging Face, and I would like to contribute as a course translator on PT-BR. I notice that most of the chapters are already assigned. Are there any chapters/sections that have not yet started to be translated? If so, I'm happy to help. :)
Not sure, but it looks like Chapter 6 and Chapter 9 aren't assigned yet, right? If so, I thin

[2022-07-01 10:56] webbigdata-jp commented on #114
Oh, my bad.
I thought hiromu166 and HiromuHota were the same person.
Sorry if I mentioned something wrong.

[2022-07-03 08:26] hiromu166 commented on #114
I've updated the table! (chapter4 & event)
Thank you for letting me know.

[2022-07-04 04:25] LippyDev commented on #51
Hey, I also know PT-BR, do you still need help? I could do one chapter aswell.

[2022-07-06 06:14] EdAbati commented on #45
Hi everyone, I hope you are all good!
Not sure if you have seen it but I opened a PR https://github.com/huggingface/course/pull/272 with Chapter 8. It is still WIP I hope to finish soon. In the meantime if you want to proofread it and leave suggestions, feel free :)

[2022-07-06 08:06] CaterinaBi commented on #45
Hi guys, I'm not done with my chapters yet but I'll be more than happy to
proofread yours once I'm finished. Caterina

On Wed, 6 Jul 2022, 07:14 Edoardo Abati, ***@***.***> wrote:

[2022-07-06 11:42] johnnv1 commented on #51
If you like, you can take some sections from chapter 8. If I don't have a PR open, it means I am not working on it. Just open a PR in draft mode, so I know you are already working on a specific section 🤗

[2022-07-06 11:46] johnnv1 commented on #51
@lewtun commented (#266) about us starting to divulge the course to the Brazilian NLP community, I am from the vision area, so I can't help much on this point. Do you have any suggestions?

I think we could finish chapter 1 before we start divulging the course

[2022-07-06 11:56] victorescosta commented on #51
I think you're right about finish chapter 01, i'm prioritizing this task, so probably until the end of this next week i'll do it.

[2022-07-06 18:11] pandyaved98 opened #275 "HI/Chapter1/10.mdx is not loading as Quiz - Shows 500"
Hi there 👋

Let's translate the course to `YOUR-LANG` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the num

[2022-07-07 22:57] binga opened #276 "Schematic incorrectly shows model output as model input"
The following schematic should show the text in the last block as model output instead of model input.

![image](https://user-images.githubusercontent.com/6457454/177884857-b10e808b-8295-470f-8c25-1c335914c8ca.png)

The fix should go into this markdown - https://github.com/huggingface/course/blob/main/chapters/en/chapter2/2.mdx#model-heads-making-sense-out-of-numbers.

[2022-07-08 14:49] CapBlood opened #277 "Mistake in Unigram tokenization"
Hi! Is it a mistake? There should be 17 instead of 5 in the end.
![Снимок экрана 2022-07-08 в 17 41 45](https://user-images.githubusercontent.com/33065236/178014793-4c788364-c338-43e1-abb7-d33c7c4e5c85.png)

[2022-07-11 10:10] mcyhx commented on #118
Hi, Lewtun, I plan to translate chapters 4,5,6, and 7 and will complete it as soon as possible. Thank you!

[2022-07-12 19:10] victorescosta commented on #51
@johnnv1 @lewtun I already finished the entire chapter 01. i'm going to do the PR today!

[2022-07-14 13:22] SinclairCoder opened #282 "Mistakes in Ch6 The Tokenizer Library"
Hi, thanks for your excellent course. Recently, I found two  (maybe) mistakes during the learning process.

In **Ch 6 -  The 🤗 Tokenizers library**,

Specifically,

In [Grouping Entities](https://huggingface.co/course/chapter6/3?fw=pt#grouping-entities) section,

[code]

In [Handling long contexts](https://huggingface.co/course/chapter6/3b?fw=pt#handling-long-contexts),

[code]

[2022-07-18 16:24] sharkovsky commented on #45
Hi all, I've also opened the PR #283 for chapter 3. Everything has been translated but I would like to wait maybe one week to give time to everyone to review it.

[2022-07-20 13:54] bhadreshpsavani opened #284 "Translate to Gujarati"
# Translation to Gujarati

Hi there 👋

Let's translate the course to `Gujarati` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where

[2022-07-26 16:43] victorescosta commented on #51
Hello, you guys. Is any chapter that already missing for contributors? If so, I can help with more. @lewtun @omarespejel  can we please update our progress? Just to motivate us 🤗

[2022-07-27 04:33] omarespejel commented on #51
It is looking amazing! You are almost done 🚀. Now the table is updated.

Chapters 3 (@haneybarg, are you able to translate some classes?), 6, 7, and 8 have missing classes.

Thanks, @victorescosta, for your proactivity. If it is also of interest, we are [translating the docs of 🤗 Transformers ](https://github.com/huggingface/transformers/issues/16824)to Portuguese too! Any contribution would be re

[2022-07-27 14:21] victorescosta commented on #51
Thank you, @omarespejel ! I put my name for it now!

[2022-07-27 14:59] omarespejel commented on #51
Thanks, @victorescosta! In which one did you put your name?

[2022-08-08 08:28] Priya22 opened #291 "Mistake in Chapter 7, Fine-tuning a masked language model, whole_word_masking_data_collator function?"
Hello,

I've been following the excellent tutorial on [fine-tuning a language model](https://huggingface.co/course/chapter7/3?fw=pt) for my custom dataset.
In the definition of the `whole_word_masking_data_collator` function, I notice that the `new_labels` variable is initialized but not assigned to the `feature["label"]` field. Should this be added?

[code]

[2022-08-08 09:37] honghanhh opened #292 "Translation to Vietnamese - setup"
Hi there 👋

Let's translate the course to `Vietnamese` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the nu

[2022-08-18 00:11] victorescosta commented on #51
Hi you guys, can I share the course translation with my linkedin colleagues (and other social media as well)? If it doesn't have any specific schedule for it yet. @omarespejel @lewtun @johnnv1 and others, what do you guys think?

[2022-08-18 00:33] omarespejel commented on #51
Sounds good to me @victorescosta! That would be great! Also, if you could please share the [🤗 Transformers translation](https://github.com/huggingface/transformers/issues/16824) would help a lot 🙏

[2022-08-18 19:01] victorescosta commented on #51
Done. Here's my linkedin post to the portuguese speakers: https://www.linkedin.com/feed/update/urn:li:activity:6966046349532270592/

[2022-08-20 16:14] gdacciaro commented on #45
Hi, I am an Italian student of AI. Can I help you with some chapters?

[2022-08-22 08:23] lewtun commented on #45
Welcome to the group @gdacciaro ! Yes, you are more than welcome to translate some chapters 🚀

One option would be to see if @CaterinaBi is still working on Chapter 2 - if not, perhaps that would be a good place to start?

[2022-08-22 09:04] CaterinaBi commented on #45
Hello! He can definitely have chapter 2, I'm afraid I haven't started it
yet!

On Mon, 22 Aug 2022, 09:23 lewtun, ***@***.***> wrote:

[2022-08-22 09:49] mishig25 commented on #248
@lbourdois, I think it is a great idea & the button looks amazing!

@lewtun on what pages should the button be added? Only on "Introduction" pages (like [this](https://huggingface.co/course/chapter1/1)) or on all pages? Or "Introduction" + "Summary" pages?

[2022-08-22 12:03] lewtun commented on #248
@mishig25 would it be overkill to have it on all course pages? The reason I ask is that I suspect many course readers don't read every section in order, so might miss the forum link.

If that's too much, I like your suggestion to include this on the "Introduction" and "Summary" pages :)

[2022-08-22 16:01] gary149 commented on #248
I'm ok with it (if it's only for the course)

[2022-08-22 19:11] mishig25 commented on #248
@lbourdois could you please share the img with us? stp

[2022-08-22 20:45] lbourdois commented on #248
![logo_discourse_HF](https://user-images.githubusercontent.com/58078086/186015379-b398162d-ad89-42c0-b4a8-c395690cd2d1.svg)
![logo_discourse_hf](https://user-images.githubusercontent.com/58078086/186015439-fb134b1f-b2ec-46c6-b405-a2b9731363ef.jpg)

The image in .svg (and in .jpg in case I screwed up the .svg)

[2022-08-23 08:48] gdacciaro commented on #45
Fine, I will translate chapter 2 :)

[2022-08-23 12:27] mishig25 commented on #248
@lbourdois thanks for the photo, the svg file is not being rendered (maybe corrupted?)

Here is the shields.io version:

<img src="https://img.shields.io/badge/Ask%20a%20question-f7cf1d.svg?logo=data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTEgMTA0IDEwNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMyMzFmMjA7fS5jbHMtMntmaWxsOiNmZmY5YWU7fS5jbHMtM3tmaWxsOiMwMGF

[2022-08-23 13:17] lbourdois commented on #248
@mishig25
Your version is so much better. I think it might even deserve to be called "art" compared to some banana 🍌

[2022-08-24 08:35] mishig25 commented on #248
@lbourdois could you please review https://github.com/huggingface/course/pull/301

not sure why, github is not letting me add you as a reviewer in #301

[2022-08-25 10:19] lbourdois commented on #248
@mishig25
Everything looks good to me after doing some tests with the bot.
 I think we are on the second best feature of Hugging Face after the HF Hub.

[2022-08-25 10:46] mishig25 commented on #248
awesome! @lbourdois thanks a lot for the suggestion!

[2022-08-31 13:04] #248 closed

[2022-09-01 19:40] #292 closed

[2022-09-02 09:59] warsawer commented on #109
Hi aeaen,

Is the work in progress? I'm ready to help.

[2022-09-11 13:49] lbourdois opened #309 "Notebook translation"
Hi @mishig25 @lewtun

I am currently translating/adapting the course notebooks (e.g. using a CamemBERT instead of a BERT). I think I'll be done by the end of the month.
I plan to put them here: [https://github.com/huggingface/notebooks/tree/main/course](https://t.co/hcTifsPer2)
I was thinking of creating a "fr" directory to put all the translations in (like in [https://github.com/huggingface/noteb

[2022-09-12 10:18] mishig25 commented on #309
Hi @lbourdois! Amazing idea as always

1. I think we can create new folders `en` & `fr`. And just change the urls in the notebook components [here](https://github.com/huggingface/course/blame/main/chapters/en/chapter6/5.mdx#L5-L7).
2. For both fr & en notebooks, we can put options under collab buttons like this in [transforerms docs here](https://huggingface.co/docs/transformers/quicktour)
<img wi

[2022-09-12 11:11] lbourdois commented on #309
Sounds great @mishig25 :)

Let me know if you need some notebooks already translated for testing

[2022-09-12 12:13] mishig25 commented on #309
@lbourdois happy to go with whatever option you prefer 😊

if you have some notebooks for testing, we can totally start with that!

[2022-09-12 13:39] lewtun commented on #309
Hey @lbourdois using French pretrained models is an awesome proposal 🔥 !

The best way to do this would be the following:

1. Adapt the French MDX files directly in [`course/fr/`](https://github.com/huggingface/course/tree/main/chapters/fr) and open PRs on this repo with the changes
2. Generate the French notebooks by running the steps outlined [here](https://github.com/huggingface/course#-jupyter

[2022-09-13 07:38] scottsuk0306 commented on #42
@lewtun Hi, I also want to take part in the translation project! Can I start with Chapter 3?

[2022-09-13 13:20] lewtun commented on #309
Hey @lbourdois I've now implemented the following to help you get started:

* Generated French notebooks from the MDX files and placed them in the [`notebooks/course/fr`](https://github.com/huggingface/notebooks/tree/main/course/fr) folder
* Updated all the URLs as @mishig25 suggested to point to these new notebooks

From here, my suggestion would be to open PRs on the `course` repo with the code

[2022-09-13 15:58] lbourdois commented on #309
Hi @lewtun

You are even more ambitious than I am in wanting to translate the notebooks and the codes in the course.

I was thinking of leaving the codes in English in the course and only translating the notebooks.
This way the reader could choose between the English notebook (to run the notebook while following the course) and the French notebook (which is an adaptation proposal using a particula

[2022-09-15 22:04] scottsuk0306 commented on #42
Ok! I'll wait till the end of this week and start working on chapter 3 if no response. @lewtun

[2022-09-15 23:08] Taekyoon commented on #42
I think @scottsuk0306 can start to work instead of me :)
Please reassign to scott @lewtun

[2022-09-20 09:05] lewtun commented on #42
Great, done! Looking forward to the translations @scottsuk0306 🤗 !

[2022-09-20 09:25] lewtun commented on #45
Nice, thanks for offering to help @EdAbati ! If @gdacciaro or @sharkovsky aren't working on Chapters 2 or 3, I think those would be great to have translated :)

[2022-09-20 10:52] EdAbati commented on #45
Hi @lewtun :) I think that Chapter 3 has been translated already in https://github.com/huggingface/course/pull/283

[2022-09-20 11:02] CaterinaBi commented on #45
Hi guys. I'm personally still working on chapter 1, I have to translate the
final quiz and then I'll be done!

On Tue, 20 Sept 2022, 11:52 Edoardo Abati, ***@***.***> wrote:

[2022-09-20 13:04] lewtun commented on #45
Oh you're right! I've just updated the issue :)

In that case, Chapter 9 is a safe bet since it was added after this issue was created :)

[2022-09-30 15:01] lewtun commented on #38
Welcome back @camartinezbu ! I've added your name to the list :)

[2022-10-04 11:58] lewtun commented on #291
Thanks for spotting this bug @Priya22 ! I've added your fix in #326 :)

[2022-10-04 12:09] #291 closed

[2022-10-04 12:34] lewtun commented on #282
Thanks for opening this issue @SinclairCoder !

I'm not sure I understand the first problem - it looks like you're suggesting to introduce `probs` and `predictions` variables, but these don't seem to be defined anywhere. Can you please clarify?

For the second issue, the `scores` tensor is actually square, so it doesn't matter which dimension we use in this case. Nevertheless, for consistency, I'l

[2022-10-04 12:37] SinclairCoder commented on #282
ok! I got it.

[2022-10-04 12:37] #282 closed

[2022-10-04 12:52] lewtun commented on #277
Hi @CapBlood are you referring to the frequency of `ugs`? Since the corpus is defined by these words:

[code]

I think the frequency for this token is correct.

[2022-10-05 12:23] fabridamicelli commented on #43
@lewtun the subchapters 4.1, 4.2, 4.3 can be marked as done (already merged). I'll keep working on the second part (subchapters 4.4, 4.5, 4.6) and open a new PR when that's ready!

[2022-10-05 14:28] lewtun commented on #276
Thanks for reporting this issue @binga ! It's now been fixed :)

<img width="788" alt="Screen Shot 2022-10-05 at 16 27 53" src="https://user-images.githubusercontent.com/26859204/194085741-c9c3d953-90fc-4ba2-95dc-630060397eb0.png">

[2022-10-05 14:28] #276 closed

[2022-10-11 07:02] CaterinaBi commented on #45
Lovely! Thanks for your help! Much appreciated!

On Tue, 23 Aug 2022, 09:48 Acciaro Gennaro Daniele, <
***@***.***> wrote:

[2022-10-11 07:14] nsbg commented on #42
Hello 👋 I am interested in this project so I want to participate!

[2022-10-11 07:16] CaterinaBi commented on #45
Hi, I should be translating chapter 2 but I've been snowed under with work
in the last months. If @lewtun is ok with this, you can have it! Caterina

On Sat, 20 Aug 2022, 17:14 Acciaro Gennaro Daniele, <
***@***.***> wrote:

[2022-10-11 09:48] lewtun commented on #42
Hi @nsbg welcome to the community 🤗 ! Currently chapter 4 is free for translating, but let's see if @rainmaker712 is still working on chapter 2 - if not, that would be my suggestion to start with :)

[2022-10-12 12:24] nsbg commented on #42
@lewtun okay I see :) Is there a deadline or do I just have to tell you when I'm done?

[2022-10-12 15:27] dlfrnaos19 commented on #42
Good day !
I think chapter 8 is calling me out from there
Is there chance for me?

[2022-10-14 15:36] lewtun commented on #42
No deadline, just ping me whenever you have a PR or need some help :)

[2022-10-17 12:05] osbm opened #342 "small visual bug"
in chapter 3/3.mdx. There is a misgenerated HTML code block:

![image](https://user-images.githubusercontent.com/74963545/196171189-27702bfc-61e4-4fd5-b1e2-8dfca2742cbd.png)

This may be resolved by turning [this code block](https://github.com/huggingface/course/blob/main/chapters/en/chapter3/3.mdx?plain=1#L157-L159)

[code]

into this:

[code]

But I don't know how to test this on my machine.

[2022-10-19 04:03] dlegor commented on #38
Hi @lewtun! I would like to translate chapter 6

[2022-10-19 10:36] neulvo commented on #42
Hello:) I found this page now and I actually did similar work on my blog earlier this year. I think I can contribute in any part. if there is chance, plz let me know.

[2022-10-19 12:04] gstdl opened #345 "Translate to Bahasa Indonesia"
Hi there 👋

Let's translate the course to `Bahasa Indonesia` so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is

[2022-10-19 17:25] hereje commented on #38
Hello @lewtun.

I would like to translate the following files:

**chapter 2**:
- `6.mdx`
- `7.mdx`
- `8.mdx`

[2022-10-21 23:06] asmayamani opened #348 "Translation to Arabic"
Hi there 👋

Let's translate the course to Arabic so that the whole community can benefit from this resource 🌎!

Below are the chapters and files that need translating - let us know here if you'd like to translate any and we'll add your name to the list. Once you're finished, open a pull request and tag this issue by including `#issue-number` in the description, where `issue-number` is the number o

[2022-10-25 10:07] Akash190104 commented on #72
@lewtun I would like to work on chapter 3 if no one else is working on it. Other wise, I can work on chapter 4.

[2022-11-01 09:13] ilnarkz commented on #75
I can participate too, I'll take chapter 8.

[2022-11-01 09:17] ilnarkz commented on #75
You have an error.
events/1.mdx does not open. You need to change to https://github.com/huggingface/course/blob/main/chapters/en/events/1.mdx

[2022-11-03 04:56] #348 closed

[2022-11-03 13:39] Cesar0106 commented on #51
Hello, I just found this project and I am a brazilian portuguese native speaker so I would be glad to help translate a couple of files!

[2022-11-07 12:09] lbourdois commented on #309
Can I close this issue now that the French notebooks are available?

Maybe it serves as a reminder to @mishig25 regarding point 2 of your message https://github.com/huggingface/course/issues/309#issuecomment-1243523395.

[2022-11-09 19:17] asmayamani commented on #53
Hello,
@giyaseddin @hkhdair @ahmedsamirio I'd like to know how the process is going on. I've assembled a team of volunteers who would love to help. We will start to work on Chapter 6 @lewtun for now until we here from you..

[2022-11-10 10:57] lewtun commented on #118
Hi @petrichor1122 @1375626371 @zhlhyx one of our team members is planning to post the videos from the course on [Bilibili ](https://www.bilibili.com/) and was wondering if you'd be interested in helping out with translating the video transcripts from English to Simplified Chinese?

We'd also love to make your great work accessible to as many students / learners in China, so if you'd like to be par

[2022-11-10 12:07] 1375626371 commented on #118
It's a great idea, and we'd love to pass on these technologies and ideas to more people. But I would like to know more about the details of the cooperation to judge whether it is suitable. Can you tell me more detailed cooperation details?

[2022-11-10 13:08] mcyhx commented on #118
Hi, thanks for the message!

I am interested in the project. If there are any plans for it, feel free to
contact me.

On Thu, 10 Nov 2022 at 18:58, lewtun ***@***.***> wrote:

[2022-11-10 13:22] mcyhx commented on #118
Hi, thanks for the message!

I am interested in the project. If there are any plans for it, feel free to
contact me.

Could you please give more details, such as whether it needs to do time
coding and substitling? I think it is more like a localization project than
just translation. I wonder whether  Hugging face will provide a style guide
in Simplifid Chinese or we can have a reference from other

[2022-11-18 09:28] lewtun commented on #118
Hi @mcyhx and @1375626371 great to hear you're interested! Do you have access to Discord or Slack? It might be more efficient to discuss further there and also meet @xianbaoqian who recently joined Hugging Face :)

[2022-11-18 14:29] wonhyeongseo opened #376 "Korean translations have no internal anchors"
Anchors present in the English version are all gone due to markdown parsing only alphanumeric characters while generating the hrefs.
First found in https://github.com/huggingface/transformers/pull/20180

[2022-11-18 18:20] 1375626371 commented on #118
It's really nice to see like-minded people join together, I can visit Discord, my account is hyq#2793

[2022-11-18 19:32] lewtun commented on #118
OK great, let's try Discord then :)

If you join the Hugging Face Discord, I can then add you all to a channel to discuss further: https://huggingface.co/join/discord

See you there!

[2022-11-19 01:01] mcyhx commented on #118
Hi, it's great to join you. I can visit Discord. My account is Slinae#1774.

On Sat, 19 Nov 2022 at 03:32, lewtun ***@***.***> wrote:

[2022-11-19 16:05] 1375626371 commented on #118
I joined the Hugging Face Discord, but I'm not very familiar with this software, I don't know where to join the discussion, what should I do next?

[2022-11-21 07:28] lewtun commented on #118
Hi @1375626371 can you see the #chinese-simplified-translations channel? If not, you can share your username here or try this link: https://discord.gg/RSv5Q4wy

@mcyhx I've added you to the channel!

[2022-11-21 07:55] 1375626371 commented on #118
I've joined Hugging Face's server, but I can't find the #chinese-simplified-translations channel. My username is hyq#2793, could you please invite me?

[2022-11-21 09:33] mcyhx commented on #118
Hi, all,
I've entered the channel. Thanks!

On Mon, 21 Nov 2022 at 15:56, 1375626371 ***@***.***> wrote:

[2022-11-22 10:00] wonhyeongseo commented on #342
Hello @osbm, this issue has been fixed by https://github.com/huggingface/course/pull/370

[2022-11-22 12:00] xianbaoqian commented on #118
HI @1375626371 Sry we can't find you on the discord server. Could you double check your user name on the HF Discord server?

![image](https://user-images.githubusercontent.com/38108242/203308401-9477f488-7873-4acd-b455-5bfc3760c59c.png)

We're planning to have a kick-off meeting this week. If Discord is a blocker, can I have your email address so that we can coordinate on the time?

Thanks,
Tiezhe

[2022-11-22 12:26] 1375626371 commented on #118
I guess hyq is my real username, sorry. Could you please invite me again? thanks
![image](https://user-images.githubusercontent.com/40328311/203313141-a9570a14-11b9-4a75-93b4-5b70d49a2c5c.png)

[2022-11-22 16:16] lewtun commented on #118
Done @1375626371 !

[2022-11-22 17:57] osbm commented on #342
Wonderful, you guys are awesome :)

[2022-11-22 17:57] #342 closed

[2022-11-22 18:37] 1375626371 commented on #118
Ok,Thanks!

[2022-11-30 10:42] #309 closed